default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  host: localhost
  port: 5432
  username: postgres
  password: <%= ENV["PG_PASSWORD"] %>



development:
  <<: *default
  database: fyrre_magazine_development

test:
  <<: *default
  database: fyrre_magazine_test



production:
  primary:
    url: <%= ENV["DATABASE_URL"] %>

  cache:
    url: <%= ENV["DATABASE_URL"] %>
    migrations_paths: db/cache_migrate

  queue:
    url: <%= ENV["DATABASE_URL"] %>
    migrations_paths: db/queue_migrate

  cable:
    url: <%= ENV["DATABASE_URL"] %>
    migrations_paths: db/cable_migrate

